.card .card-image {
    stroke: darkgrey;
}

.card.preview {
    opacity: 0.3;
}

.selectable {
    border: goldenrod solid 1px;
    cursor: pointer;
}
.card.selectable .card-image {
    stroke: goldenrod;
}
.port-label.selectable {
    fill: darkgoldenrod;
}

.actions {
    float:right;
    display: flex;
    flex-direction: column;
}