extends layout

block additionalHead
    script.
        window.GAME_ID = #{gameId};
    script(src='/lib/d3.js')
    script(src="/lib/jquery-1.11.1.js")
    script(src='/lib/bootstrap-3.3.6-dist/js/bootstrap.js')
    script(src='/socket.io/socket.io.js')
    script(src='/require-config.js')
    script(src='/lib/require.js', data-main="gameStart")

block content
    div
        button.btn.deckButton Draw Tile
        .player-list

    div.row
        div.col-sm-6
            h2 Open Area
            svg#open-area(width='100%', height='200').show-smooth-preview
                g.tile-container
        div.col-sm-6
            h2 Goal Area
            svg#goal-area(width='100%', height='200').show-smooth-preview
                g.tile-container
    div
        h2 Device
        svg#machine-area(width='100%', height='500')
            g.tile-container