extends layout

block additionalHead
  script.
    window.LOBBY_ID = #{lobby.id};

  script(src="/scripts/lib/jquery-1.11.1.js")
  script(src='/scripts/lib/bootstrap-3.3.6-dist/js/bootstrap.js')
  script(src='/socket.io/socket.io.js')
  script(src='/scripts/require-config.js')
  script(src='/scripts/lib/require.js', data-main="lobby/lobbyInterface")

block content
  h1 Lobby - #{lobby.name}
  form(method="post", action="/lobby/#{lobby.id}/begin", class="form form-inline")
    input(type="submit", value="Begin")

  div
    h2 Players
    .player-list