.tile .tile-image {
    stroke: darkgrey;
}

.tile.preview {
    opacity: 0.3;
    pointer-events: none;
}

.selectable {
    border: goldenrod solid 1px;
    cursor: pointer;
}
.tile.selectable .tile-image {
    stroke: goldenrod;
}
.port-label.selectable {
    fill: darkgoldenrod;
}

.actions {
    float:right;
    display: flex;
    flex-direction: column;
}

.player.primary {
    background-color: lightsalmon;
}

.player {
    margin: 5px;
}

.player-name {
    margin: 4px;
}

.player .btn {
    border-radius: 0;
}

.inLobby .stage1, .inGame .stage1,
.outOfLobby .stage2, .inGame .stage2,
.outOfLobby .stage3, .inLobby .stage3 {
    display: none;
}

.player:not(.disconnected) .kickPlayer {
    display: none;
}